<h2>{{ plan?.name }}</h2>

<div *ngIf="plan">
  <h3>{{ plan.name }}</h3>

  <h4>Exercises:</h4>
  <table *ngIf="plan.exercises && plan.exercises.length > 0" border="1">
    <thead>
      <tr>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Reps</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of plan.exercises">
        <td>{{ exercise.name }}</td>
        <td>{{ exercise.sets }}</td>
        <td>{{ exercise.reps }}</td>
      </tr>
    </tbody>
  </table>


  <p *ngIf="plan.exercises?.length === 0">No exercises found for this plan.</p>
</div>
<p *ngIf="message">{{ message }}</p>

<button routerLink="/plans">Back to Plans</button>
